.chouse {
    padding-bottom: 40px;
    position: relative;

    &__title {
        background-image: url(../img/courses__title_bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        padding: 40px 0 160px;
        overflow: hidden;
    }
    &__arrow {
        width: 40%;
        border-top: $border-width dashed $border-color;
        position: relative;
        transform: translate(170%, -31px);
        display: none;

        &:before {
            content: "";
            background-image: url(../img/shevron.png);
            background-size: cover;
            width: 42px;
            height: 19px;
            position: absolute;
            left: -34px;
            top: -11px;
        }
    }

    & .red-blok_right {
        width: 120px;
        height: 435px;
        right: -130%;
        top: -12%;
        transform: rotate(60deg);
        z-index: -1;
    }

}
.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course {
    width: 288px;
    box-shadow: 0px 10px 80px rgba(3, 70, 136, 0.1);
    background-color: $white;
    position: relative;
    

    &:first-of-type {
        margin-top: -110px;
    }
    &:not(:first-of-type) {
        margin-top: 32px;
    }
    &:before {
        content: "";
        width: 100%;
        border-bottom: 16px solid $dark-blue;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        position: absolute;
        top: -16px;
        left: 0;
    }

    &__title {
        margin: 0;
        width: calc(100% - 32px);
        height: 72px;
        background-image: linear-gradient(270deg, $blue, $primary-color);
        position: absolute;
        top: -16px;
        left: 16px;
        @include font($fz: 1.8rem, $fc: $white, $fw: 600);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        grid-area: t;
    }
    &__discription {
        padding: 70px 15px 0;
        grid-area: d;

        .discription {
            &__part {
                margin-bottom: 10px;
                &:last-of-type {
                    margin-bottom: 20px;
                }
            }
            &__title {
                padding-bottom: 0;
                display: inline-flex;
                align-items: baseline;
                @include font($fz: 1.6rem, $fc: $dark, $fw: 600);
            }
            &__icon {
                padding-right: 10px;
            }
            &__text {
                display: inline;
                @include font($fz: 1.6rem, $fc: $dark-gray, $fw: 400);
            }
            &__excess {
                display: none;
            }
        }
    }
    & .btn {
        display: none;
    }
    &__bottom {
        border-top: $border-width dashed $border-color;
        text-align: center;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 200px;
        padding: 0 40px;
        grid-area: b;

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 32px;
            height: 32px;
            border-radius: 100px;
            top: 50%;
            transform: translateY(-50%);
        }
        &:before {
            left: -16px;
            box-shadow: inset -25px 0 40px rgba(3, 70, 136, 0.1);
        }
        &:after {
            right: -16px;
            box-shadow: inset 25px 0 40px rgba(3, 70, 136, 0.1);
        }
        & .btn {
            margin: 10px 0 15px;
            display: inline-flex;
        }
        
    }
    &__price {
        @include font($fz: 2.4rem, $fc: $primary-color, $fw: 600);
    }
    &__notice {
        @include font($fz: 1.4rem, $fc: #111);
        max-width: 315px;
        order: 1;
        margin: 0 auto;
        &_tablet {
            display: none;
        }
    }
}


@media screen and (min-width: 576px) {
    .chouse {
        & .red-blok_right {
            right: -71%;
        }
    }
}
@media screen and (min-width: 768px) {
    .chouse {
        &__arrow {
            display: block;
            transform: translate(170%, -21px);
        }
        & .red-blok_right {
            right: -56%;
            top: -16%;
        }
    }
    .course {
        width: 720px;
        margin-top: -110px;
        display: grid;
        grid-template-columns: 475px 245px;
        grid-template-areas: 
            "t b"
            "d b";
        
        &:before {
            width: 491px;
        }
        &__title {
            width: 100%;
            left: 0;
            height: 64px;
        }
        &__discription {
            border-right: $border-width dashed $border-color;
            .discription {
                &__excess_tablet {
                    display: inline;
                }
                &__title {
                    font-size: 1.8rem;
                }
            }
        }
        &__bottom {
            border-top: 0;
            height: 100%;
            // border-left: $border-width dashed $border-color;
            padding: 0 22px;
            &:before,
            &:after {
                width: 40px;
                height: 40px;
                top: auto;
                left: 50%;
                transform: translate(-50%, 0);
            }
            &:before {
                top: -20px;
                box-shadow: inset -25px 0 40px rgba(3, 70, 136, 0.1);
            }
            &:after {
                bottom: -20px;
                box-shadow: inset 25px 0 40px rgba(3, 70, 136, 0.1);
            }
        }
        &__notice {
            text-align: left;
            order: 0;
            &_tablet {
                display: block;
                width: 170px;
                margin: 16px auto 0;  
            }
            &_regular {
                display: none;
            }
        }
        &__price {
            font-size: 3rem;
        }
    }

}
@media screen and (min-width: 992px) {
    .course { 
        &__bottom {
            & .btn {
                font-size: 1.6rem;
                height: 48px;
                & span {
                width: 38px;
                height: 38px;
                }
            }
        }
    }
    .chouse {
        & .red-blok_right {
            right: -42%;
            top: -21%;
        }
    }
}
@media screen and (min-width: 1200px) {
    .courses {
        flex-direction: row;
        justify-content: space-between;
        margin-top: -160px;
    }
    .chouse {
        padding-bottom: 160px;
        &__title {
            padding: 100px 0 245px;
        }
        &__arrow {
            transform: translate(170%, -31px);
            &:before {
                width: 54px;
                height: 25px;
                left: -50px;
                top: -13px;
            }
        }
        & .red-blok_right {
            right: -34%;
            top: -23%;
        }
    }
    .course {
        width: 360px;
        display: block;
        & .btn {
            display: inline-flex;
            position: absolute;
            left: 50%;
            bottom: -28px;
            transform: translateX(-50%);
            width: 237px;
        }

        &::before {
            width: 100%;
            border-bottom: 24px solid $dark-blue;
            border-left: 32px solid transparent;
            border-right: 32px solid transparent;
            top: -24px;
        }

        &__discription {
            height: 550px;
            padding: 75px 20px 0;
            border-right: 0;
        
            .discription {
                &__title {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                }
                &__title:last-of-type {
                    display: inline-flex;
                }
                &__excess {
                    display: inline;
                    &_mobile {
                        display: none;
                    }
                }
                &__part:last-of-type {
                    display: flex;
                    & .discription__title {
                        margin-right: 8px;
                    }
                }
            }
            
        }
        &:first-of-type {
            margin-top: 0;
        }
        &:not(:first-of-type) {
            margin-top: 0;
        }
        &__title {
            width: calc(100% - 64px);
            left: 32px;
            top: -24px;
        }
        &__bottom {
            border-top: $border-width dashed $border-color;
            // border-left: 0;
            padding: 0 40px;
            &:before,
            &:after {
                width: 56px;
                height: 56px;
                top: 50%;
                left: auto;
                transform: translate(0, -50%);
            }
            &:before {
                left: -28px;
            }
            &:after {
                right: -28px;
            }
            & .btn {
                display: none;
            }
        }
        &__price {
            font-size: 4.8rem;
            margin-top: 20px;
        }
        &__notice {
            text-align: left;
            &_tablet {
                display: none;
            }
            &_regular {
                display: block;
                text-align: center;
                margin-bottom: 60px;
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .chouse {
        & .red-blok_right {
            top: -23%;
            right: -28%;
        }
    }
    .course {
        width: 420px;
        &__title {
            font-size: 2.6rem;
            height: 128px;
        }
        &__discription {
            padding: 136px 32px 0;
        }
    }
}
@media screen and (min-width: 1920px) {
    .chouse {
        &__title {
            max-width: 98%;
        }
        & .red-blok_right {
            width: 391px;
            height: 1402px;
            top: -52%;
            right: -70%;
        }
    }
    .course {
        width: 480px;
        margin-top: -160px;

        &:before {
            border-bottom: 24px solid $dark-blue;
            border-left: 32px solid transparent;
            border-right: 32px solid transparent;
            top: -24px;
        }

        &__title {
            height: 128px;
            top: -24px;
            left: 32px;
            padding: 0 30px;
            @include font($fz: 2.6rem, $fc: $white, $fw: 600);
        }
        &__discription {
            &__part {
                &:last-of-type {
                    .discription__title {
                        padding-bottom: 0;
                        padding-right: 8px;
                    }
                    display: flex;
                    align-items: center;
                }
            }
            &__title {
                padding-bottom: 10px;
                font-size: 2rem;
            }
            &__text {
                font-size: 1.8rem;
            }
            &__icon {
                padding-right: 15px;
            }
            &__price {
                margin-top: 25px;
            }
            &__notice {
                @include font($fz: 1.6rem, $fc: #111);
                margin: 0 auto;
                max-width: 315px;
            }
        }
    }
}


