.chouse {
    padding-bottom: 40px;
    position: relative;

    &__title {
        background-image: url(../img/courses__title_bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        padding: 40px 0 160px;
        overflow: hidden;
    }
    &__arrow {
        width: 40%;
        border-top: $border-width dashed $border-color;
        position: relative;
        transform: translate(170%, -31px);
        display: none;

        &:before {
            content: "";
            background-image: url(../img/shevron.png);
            width: 54px;
            height: 25px;
            position: absolute;
            left: -50px;
            top: -13px;
        }
    }

    & .red-blok_right {
        right: -71%;
        top: -50%;
        transform: rotate(60deg);
        z-index: -1;
    }

}
.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course {
    width: 288px;
    box-shadow: 0px 10px 80px rgba(3, 70, 136, 0.1);
    background-color: $white;
    position: relative;
    

    &:first-of-type {
        margin-top: -110px;
    }
    &:not(:first-of-type) {
        margin-top: 32px;
    }
    &:before {
        content: "";
        width: 100%;
        border-bottom: 16px solid $dark-blue;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        position: absolute;
        top: -16px;
        left: 0;
    }

    &__title {
        margin: 0;
        width: calc(100% - 32px);
        height: 72px;
        background-image: linear-gradient(270deg, $blue, $primary-color);
        position: absolute;
        top: -16px;
        left: 16px;
        @include font($fz: 1.8rem, $fc: $white, $fw: 600);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__discription {
        padding: 75px 15px 0;

        .discription {
            &__part {
                margin-bottom: 20px;
            }
            &__title {
                padding-bottom: 0;
                display: inline-flex;
                align-items: baseline;
                @include font($fz: 1.6rem, $fc: $dark, $fw: 600);
            }
            &__icon {
                padding-right: 10px;
            }
            &__text {
                display: inline;
                @include font($fz: 1.6rem, $fc: $dark-gray, $fw: 400);
            }
            &__excess {
                display: none;
            }
        }
    }
    &__bottom {
        border-top: $border-width dashed $border-color;
        text-align: center;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 200px;
        padding: 0 40px;

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 32px;
            height: 32px;
            border-radius: 100px;
            top: 50%;
            transform: translateY(-50%);
        }
        &:before {
            left: -16px;
            box-shadow: inset -25px 0 40px rgba(3, 70, 136, 0.1);
        }
        &:after {
            right: -16px;
            box-shadow: inset 25px 0 40px rgba(3, 70, 136, 0.1);
        }
    }
    &__price {
        @include font($fz: 2.4rem, $fc: $primary-color, $fw: 600);
    }
    &__notice {
        @include font($fz: 1.4rem, $fc: #111);
        max-width: 315px;
        order: 1;
    }
    &__btn {
        margin: 10px 0 15px;
    }
}


@media screen and (min-width: 576px) {
    
    .chouse {
        &__title {

        }
    }
    .course {
        width: 480px;
        &__title {

        }
    }
}
@media screen and (min-width: 768px) {
    .course {
        width: 480px;
        margin-top: -110px;
        
        &__title {
            
        }
    }
    .course {
        margin-top: 0;
        &__discription {
        
            .discription {
                &__excess {
                    display: inline;
                    &_mobile {
                        display: none;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 992px) {
    .courses {
        flex-direction: row;
        justify-content: space-between;
        margin-top: -160px;
    }
    .chouse {
        padding-bottom: 160px;
        &__title {
            padding: 100px 0 245px;
            &__arrow {
                display: block;
            }
        }
    }
    .course {
        width: 480px;

        &__discription {
            height: 550px;
        }
        &:first-of-type {
            margin-top: 0;
        }
        &:not(:first-of-type) {
            margin-top: 0;
        }
        &__title {
            width: 416px;
        }
        &__bottom {
            &:before,
            &:after {
                width: 56px;
                height: 56px;
            }
            &:before {
                left: -28px;
            }
            &:after {
                right: -28px;
            }
        }
    }
}
@media screen and (min-width: 1200px) {}
@media screen and (min-width: 1440px) {}
@media screen and (min-width: 1920px) {
    .chouse {
        &__title {
            max-width: 98%;
        }
    }
    .course {
        width: 480px;
        margin-top: -160px;

        &:before {
            border-bottom: 24px solid $dark-blue;
            border-left: 32px solid transparent;
            border-right: 32px solid transparent;
            top: -24px;
        }

        &__title {
            width: 416px;
            height: 128px;
            top: -24px;
            left: 32px;
            @include font($fz: 2.6rem, $fc: $white, $fw: 600);
        }
        &__discription {
            padding: 136px 32px 0;
            height: 550px;
            &__part {
                &:last-of-type {
                    .discription__title {
                        padding-bottom: 0;
                        padding-right: 8px;
                    }
                    display: flex;
                    align-items: center;
                }
            }
            &__title {
                padding-bottom: 10px;
                font-size: 2rem;
            }
            &__text {
                font-size: 1.8rem;
            }
            &__icon {
                padding-right: 15px;
            }
            &__price {
                margin-top: 25px;
            }
            &__notice {
                @include font($fz: 1.6rem, $fc: #111);
                margin: 0 auto;
                max-width: 315px;
            }
        }
    }
}


