.comments {
    // max-height: 630px;
    // margin-bottom: 95px;

    &__title {
        background-image: url(../img/comments__title_bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 40px 0 160px;

        & .section__title {
            display: none;

            &_mobile {
                display: block;
            }
        }
    }
}
.openText {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    padding-left: 12px;
    padding-top: 15px;
    width: 100%;
    height: 60px;
    background-color: $white;
    border: 0;
    @include font($fz: 1.6rem, $fc: $primary-color, $fw: 500);
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 -20px 30px $white;
    z-index: 10;

    @include hover {
        text-decoration: none;
        outline: none;
    }
}

.comment {
    @include font($fz: 1.8rem, $fc: $dark-gray);
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 40px;
        right: 45px;
        background-image: url(../img/icons/quote.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__athor {
        width: 81px;
        height: 81px;
        position: relative;
        margin-left: 15px;
        margin-bottom: 30px;

        & img {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: 0;
            width: 70px;
            height: 70px;
            background-image: linear-gradient(93.31deg, #E43137 5.13%, #FF8642 100%);
            transform: translate(-8px, 19px);
            opacity: .6;
        }
    }
    &__title {
        @include font($fz: 1.8rem, $fc: $dark, $fw: 600);
        margin: 0 0 20px;
    }
    &__subtitle {
        @include font($fz: 1.6rem, $fc: #003161, $fw: 600);
        margin: 10px 0 30px;
    }
    &__text {
        margin: 0;
        font-size: 1.6rem;

        & p {
            margin: 0 0 26px;
        }
    }
}

#commentsSlider {
    position: relative;
    transform: translateY(-130px);
    margin-bottom: -100px;

    & .slick-arrow {
        position: absolute;
        z-index: 10;
        top: -72px;
        transform: translateY(10%);
        width: 48px;
        height: 48px;
        border-radius: 50%;
        font-size: 0;
        border: none;
        background-color: $hover;
        background-position: center;
        background-repeat: no-repeat;

        @include hover {
            background-color: #F5F8FE;
            outline: none;
        }
    }
    & .slick-prev {
        right: 28%;
        background-image: url(../img/icons/arrow_left.png);
        @include hover {
            background-image: url(../img/icons/arrow_left_dark.png);
        }
    }
    & .slick-next {
        right: 9%;
        background-image: url(../img/icons/arrow_right.png);
        @include hover {
            background-image: url(../img/icons/arrow_right_dark.png);
        }
    }

    & .slick-slide {
        width: 288px;
        min-height: 360px;
        border-bottom: $border-width solid $hover;
        margin: 0px 30px 0;
        padding: 25px 12px;
        background-color: $white;
        box-shadow: 0px 10px 80px rgba(3, 70, 136, 0.1);
        position: relative;
        height: 536px;
        overflow: hidden;

        &.open {
            height: auto;
            padding-bottom: 30px;

            & .openText {
                box-shadow: none;
            }
        }
    }
    & .slick-center {
        & .comment__athor:after,
        &.slick-slide::before {
            background-color: rgba(255, 255, 255, 0);
        }
        
        & .comment__athor:before {
            opacity: 1;
        }
    }
}

#commentsSlider .comment__athor:after,
#commentsSlider .slick-slide::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, .6);
}


@media screen and (min-width: 576px) {
    #commentsSlider {
        & .slick-prev {
            right: 20%;
        }
        & .slick-slide {
            width: 340px;
        }
    }
}
@media screen and (min-width: 768px) {
    #commentsSlider {
        & .slick-slide {
            width: 720px;
            height: auto;
        }
        & .slick-prev {
            right: 10%;
        }
        & .slick-next {
            right: 3%;
        }
    }
    .openText {
        display: none;
    }
    .comment {
        &::after {
            top: 16px;
            right: 24px;
        }
        &__text {
            & p {
                margin: 0 0 6px;
            }
        }
        &__title {
            margin: 0 0 10px;
        }
        &__subtitle {
            margin: 10px 0;
        }
        &__content {
            position: absolute;
            top: 25px;
            left: 120px;
            max-width: 570px;
        }
    }
}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {
    .comments {
        max-height: 630px;
        margin-bottom: 95px;
    
        &__title {
            padding: 95px 0 290px;
            & .section__title {
                display: block;

                &_mobile {
                    display: none;
                }
            }
        }
    }
    
    .comment {
        font-size: 1.8rem;
    
        &::after {
            top: 40px;
            right: 45px;
        }
    
        &__athor {
            width: 120px;
            height: 120px;
            position: absolute;
            top: -60px;
            left: -40px;
    
            & img {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1;
            }
            &::before {
                content: "";
                display: block;
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(93.31deg, #E43137 5.13%, #FF8642 100%);
                transform: translate(-20px, 20px);
                opacity: .6;
            }
        }
        &__title {
            font-size: 2.6rem;
        }
        &__subtitle {
            font-size: 1.8rem;
        }
        &__text {
            margin: 0;
    
            & p {
                margin: 0 0 26px;
            }
        }
        &__content {
            position: static;
            max-width: 100%;
        }
    }
    
    #commentsSlider {
        position: relative;
        transform: translateY(-57%);
    
        & .slick-arrow {
            top: 50%;
    
            @include hover {
                background-color: #F5F8FE;
                outline: none;
            }
        }
        & .slick-prev {
            left: 5%;
        }
        & .slick-next {
            right: 5%;
        }
    
        & .slick-slide {
            width: 920px;
            min-height: 360px;
            margin: 60px 75px 0;
            padding: 30px 45px 40px 110px;
            overflow: visible;
        }
    }
}
@media screen and (min-width: 1440px) {
    
    .comment {
        font-size: 1.8rem;    
      
        &__title {
            margin: 0 0 20px;
        }
        &__subtitle {
            margin: 10px 0 30px;
        }
    }
    
    #commentsSlider {
    
        & .slick-prev {
            left: 2%;
        }
        & .slick-next {
            right: 2%;
        }
    
        & .slick-slide {
            width: 1188px;
    
        }
    }
}
@media screen and (min-width: 1920px) {
    #commentsSlider {
    
        & .slick-prev {
            left: 14%;
        }
        & .slick-next {
            right: 14%;
        }
    }
}