.header {
    // border-bottom: $border-width dashed $border-color;
    position: relative;
    margin-bottom: 140px;

    &__content {
        background-image: url(../img/header_mobile_bg.jpg); 
        background-repeat: no-repeat;
        background-position: bottom 0 right 0;
        background-color: #F5F8FE;
        width: 100%;
        max-height: 736px;
        margin-bottom: 40px;
        overflow: hidden;
    
        & .container {
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: column;
            &:first-of-type{
                background-color: #fff;
            }
            &:last-of-type {
                height: 440px;
            }
        }
        & .red-blok {
            &_wrapper {
                height: 504px;
                overflow: hidden;
            }
        }
    }
    &__text {
        position: relative;
        z-index: 10;
    }
    &__title {
        margin-bottom: 20px;
        margin-top: 35px;
        max-width: 240px;
    }
    &__subtitle {
        @include font ($fz: 1.6rem, $fc: $dark-gray);
        max-width: 305px;
        padding-left: 15px;
        position: relative;
        margin-bottom: 20px;

        & p:last-of-type {
            display: none;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            background-color: #E43137;
            width: $border-width;
            height: 100%;
        }

        &_marked {
            color: $primary-color;
            font-weight: 600;
        }
    }

    &__photo {
        max-width: 140px;
        height: 210px;
        position: relative;
        bottom: -18px;  
        z-index: 10;
        margin: 0 auto;
        
        & img {
            width: 100%;
            height: 100%;
        }
    }
    & .red-blok {
        &_left {
            top: 50px;
            right: -95px;
            width: 60px;
            height: 205px;
            border: $border-width solid rgba(17, 17, 17, .15);
            &::after {
                top: -10px;
                left: -10px;
            }
        }
        &_right {
            width: 100px;
            height: 390px;
            top: 273px;
            right: -160px;
        }
    }
}

.logo {
    max-width: 195px;
    height: 48px;

    &__container {
        height: 64px;
        display: flex;
        align-items: center;
    }
    &__img {
        width: 100%;
        height: 100%;
    }
}

.achievements {
    display: flex;
    justify-content: center;
    margin-bottom: -120px;
    flex-direction: column;
    position: relative;

    &::before {
        content: "";
        display: block;
        height: 80%;
        border-left: $border-width dashed $border-color;
        border-top: $border-width dashed $border-color;
        position: absolute;
        top: 10%;
        left: 50%
    }
}
.achievement {
    position: relative;
    z-index: 1;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0px 10px 80px rgba(3, 70, 136, 0.1);
    text-align: center;
    width: 288px;
    padding: 20px 0px;
    background-color: $white;
    color: $primary-color;
    margin: 0 auto 16px;
    
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(270deg, $blue, $primary-color);
        z-index: -1;
        opacity: 0;
        @include tr;
    }
    
    
    &:first-of-type:before,
    &:last-of-type:before {
        content: "";
        width: 74px;
        height: 74px;
        position: absolute;
    }
    &:first-of-type:before {
        top: 0;
        left: 0;
        box-shadow: -2px -2px rgba(3, 70, 136, 1);
    }
    &:last-of-type:before {
        bottom: 0;
        right: 0;
        box-shadow: 2px 2px rgba(3, 70, 136, 1);
    }

    &__head {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    &__icon {
        width: 48px;
        height: 48px;
        margin-right: 15px;
        background-position: center;
        background-size: contain;

        &_mentor {
            background-image: url(../img/icons/mentor_light.png);
        }
        &_building {
            background-image: url(../img/icons/building_light.png);
        }
        &_world {
            background-image: url(../img/icons/world_light.png);
        }
    }
    &__number {
        color: $primary-color;
        font-size: 2.4rem;
        font-weight: 600;
        position: relative;
    }
    &__text {
        max-width: 300px;
        color: $dark-gray;
        font-size: 1.6rem;
        margin: 0 auto;

        &:before {
            content: "";
            display: block;
            width: 95px;
            height: 95px;
            background: #F5F8FE;
            position: absolute;
            z-index: -2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    @include hover {
        text-decoration: none;
        cursor: pointer;

        &:after {
            opacity: 1;
        }
        .achievement__text,
        .achievement__number {
            color: $white;
        }
        .achievement__icon_mentor {
            background-image: url(../img/icons/mentor_dark.png);
        }
        .achievement__icon_building {
            background-image: url(../img/icons/building_dark.png);
        }
        .achievement__icon_world {
            background-image: url(../img/icons/world_dark.png);
        }
    }
}


@media screen and (min-width: 576px) {
    .header {
        
        &__subtitle {
            & p:last-of-type {
                display: block;
            }
        }
        &__photo {
            max-width: 257px;
            height: 385px;
        }
        &__content {
        
            & .container {
                &:last-of-type {
                    height: 640px;
                }
            }
            
            & .red-blok {
                &_wrapper {
                    height: 704px;
                }
                &_right {
                    top: 440px;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .header {
        margin-bottom: 153px;

        .logo {
            max-width: 195px;
            height: 48px;
            &__container {
                height: 64px;
            }
        }
        &__content {
            background-image: url(../img/header_tablet_bg.jpg);
            background-size: 100% 336px;
            background-position: bottom 0 right 0;
            background-color: transparent;
            height: 400px;
            overflow: visible;
            margin-bottom: 48px;
            & .container {
                flex-direction: row;
                align-items: center;
                &:last-of-type {
                    height: 336px;
                }
            }
        }
        &__photo {
            max-width: 257px;
            height: 385px;
            bottom: 25px;
            margin: 0;
        }
        &__title {
            margin-bottom: 24px;
            margin-top: 0;
            max-width: 100%;
        }
        &__subtitle {
            max-width: 435px;
            font-size: 1.8rem;
        }
        & .red-blok {
            &_left {
                top: -50%;
                right: -50%;
                left: auto;
                width: 132px;
                height: 473px;
            }
            &_right {
                width: 182px;
                height: 653px;
                top: -75px;
                right: -410px;
            }
        }
    }
    .achievements {
        flex-direction: row;

        &::before {
            height: 0;
            width: 140%;
            top: 50%;
            left: -20%;
        }
    }
    .achievement {
        width: 478px;
        height: 153px;
        padding: 20px 5px;

        &:not(:last-of-type) {
            margin-right: 30px;
        }

        &__text {
            // font-size: 1.6rem;
        }
        &__number {
            font-size: 2.6rem;
        }
        &__icon {

        }
        &__head {
            // margin-bottom: 24px;
        }
        &__excess {
            display: none;
        }
    }
}
@media screen and (min-width: 992px) {
    .header {
        .logo {
            max-width: 279px;
            height: 68px;
            &__container {
                height: 104px;
            }
        }
        &__content {
            background-image: url(../img/header_bg.jpg);
            margin-bottom: 90px;
            height: 440px;
        }
        &__photo {
            // max-width: 480px;
            // height: 720px;
            // bottom: 45px;
        }
        &__title {
            // margin-bottom: 40px;
        }
        &__subtitle {
            // max-width: 545px;
            // padding-left: 30px;
            // margin-bottom: 35px;
        }
        & .red-blok {
            &_left {
                
            }
            &_right {
                right: -300px;
                top: -40px;
            }
        }
    }
    .achievement {
        height: 215px;
        &__number {
            font-size: 4rem;
        }
        &__icon {
            width: 64px;
            height: 64px;
            margin: 0 auto 24px;
        }
        &__head {
            flex-direction: column;
            margin-bottom: 25px;
        }
        &__excess {
            display: inline;
        }
        &:first-of-type:before,
        &:last-of-type:before {
            width: 106px;
            height: 106px;
        }
    }
}
@media screen and (min-width: 1200px) {
    .header {
        
        &__content {
            height: 575px;
            background-size: 100% 475px;
            & .container {
                &:last-of-type {
                    height: 474px;
                }
            }
        }
        &__photo {
            max-width: 480px;
            height: 560px;
            bottom: 45px;
        }
        &__title {
            margin-bottom: 40px;
        }
        &__subtitle {
            font-size: 2.2rem;
            max-width: 545px;
            padding-left: 30px;
            margin-bottom: 35px;
        }
        & .red-blok {
            &_left {
                top: 45%;
                left: -17%;
                right: auto;
                &::after{
                    top: 10px;
                    left: 10px;
                }
            }
            &_right {
                right: -230px;
                top: 20px;
                height: 800px;
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .header {
        &__content {
            height: 736px;
            background-size: 100% 632px;
            overflow: hidden;

            & .container {
                &:last-of-type {
                    height: 632px;
                }
            }
        }
        &__photo {
            height: 680px;
            bottom: 26px;
        }
        &__title {
            margin-bottom: 40px;
        }
        &__subtitle {
            max-width: 545px;
        }
        & .red-blok {
            &_left {
                top: 45%;
                left: -15%;
            }
            &_right {
                right: -685px;
                top: -190px;
                width: 250px;
                height: 1400px;
            }
            &_wrapper {
                overflow: visible;
            }
        }
    }
    .achievement {
        height: 248px;
        padding: 32px 5px;
        &__icon {
            margin-bottom: 25px;
        }
        &__text {
            margin-top: 35px;
        }
    }
}
@media screen and (min-width: 1920px) {
    .header {
        // margin-bottom: 195px;
        &__content {
            background-size: 98% 632px;
            background-position: bottom 0 right 0;
        }
        &__text {
            margin-top: 20px;
        }
        &__title {
            margin-bottom: 40px;
        }
        &__subtitle {
            max-width: 545px;
        }
        &__photo {
            height: 720px;
            bottom: 45px;
        }
        & .red-blok {
            &_left {
                top: 43%;
                left: -10%;
                &::after{
                    top: 15px;
                    left: 15px;
                }
            }
            &_right {
                top: -35%;
                right: -30%;
                width: 390px;
                height: 1400px;
            }
        }
    }
}