$social-size: 40px;
$social-border: 2px;


.icon {
    color: $light-gray;
    width: $social-size;
    height: $social-size;
    line-height: calc(#{$social-size} - 2 * #{$social-border});
    border: 2px solid rgba(255, 255, 255, .15);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;

    @include tr;
    @include hover {
        background-color: $hover;
        color: $white;
        border-color: $hover;
    }


    &_fb {
        background-image: url(../img/icons/fb_icon.svg);
    }
    &_ytb {
        background-image: url(../img/icons/ytb_icon.svg);
    }
    &_inst {
        background-image: url(../img/icons/inst_icon.svg);
    }
    &_tel {
        background-image: url(../img/icons/tel_icon.svg);
    }
    &_phone {
        background-image: url(../img/icons/phone.svg);
    }
    &_mail {
        background-image: url(../img/icons/mail.svg);
    }
    &_telegram {
        background-image: url(../img/icons/telegram_blue.png);
    }
    &_messandger {
        background-image: url(../img/icons/messanger_blue.png);
    }
    &_viber{
        background-image: url(../img/icons/viber_blue.png);
    }
    &_whatsapp {
        background-image: url(../img/icons/whatsapp_blue.png);
    }
}


@media screen and (min-width: 576px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {
    $social-size: 48px;
    .icon {
        background-size: 20px 20px;
        width: $social-size;
        height: $social-size;
    }
}
@media screen and (min-width: 1440px) {}
@media screen and (min-width: 1920px) {}