
.social {
    list-style: none;
    padding: 0;


    &__item {
        display: inline-block;
        margin: 5px;
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        
        @include tr;
        @include hover {
            background-color: $hover;
            color: $white;
            border-color: $hover;
        }
    }
}

