@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');

$title-ff: 'Jost', sans-serif;
$body-ff: 'Jost', sans-serif;
$btn-ff: 'Jost', sans-serif;

$body-color: #333333;
$primary-color: #003161;

$white: #fff;
$black: #000;
$dark: #111;

$blue: #176DC0;
$dark-blue: #002A52;
$medium-blue: #64A2DE;
$light-blue: #B0E1FF;

$hover: #E43137;
$play-btn: #B7142C;

$gray: #E6ECF8;
$dark-gray: #535565;
$medium-gray: #898f8f;
$light-gray: #E5E5E5;

$border-width: 2px;
$border-color: rgba(17, 17, 17, .15);

$body-bg: $white;