.video {
    position: relative;

    &::before {
        content: "";
        display: block;
        height: 64px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #f5f8fe;
    }
    &__container {
        margin-bottom: 65px;
        position: relative;
    }
    &__content {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;


        &_enabled {
            cursor: pointer;
        }
        &_enabled .video__button {
            display: block;
        }
        &::after {
            content: "";
            display: none;
            position: absolute;
            width: 220px;
            height: 31px;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            background-color: $white;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
        }
    }
    &__media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
    &__button {
        width: 120px;
        height: 120px;
        padding: 0;
        background-color: transparent;
        display: none;
        cursor: pointer;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            display: none;
        }
        &::before {
            border-bottom: 40px solid $play-btn;
            border-right: 120px solid transparent;
            top: -40px;
        }
        &::after {
            border-top: 42px solid $play-btn;
            border-right: 120px solid transparent;
            bottom: -42px;
        }

        &__inner {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background-color: $hover;
            z-index: 10;

            &::before {
                content: "";
                display: block;
                width: 56px;
                height: 56px;
                border-radius: 50%;
                background-color: rgba($hover, .4);
                animation: vawes;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-out;
            }
        }
    }
    &__button,
    &__button__inner,
    &__button__inner::before, 
    &__button__inner img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__btn {
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 1;
    }
}

@keyframes vawes {
    from {
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        transform: translate(-50%, -50%) scale(1.7);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}


@media screen and (min-width: 576px) {}
@media screen and (min-width: 768px) {
    .video {
        &__container {
            margin-bottom: 27px;
        }
        &::before {
            height: 120px;
        }
        &__content {
            &::after {
                width: 196px;
                height: 27px;
                display: block;
            }
        }
        &__button {
            width: 56px;
            height: 56px;
            background-color: $play-btn;
            &::before,
            &::after {
                display: block;
            }
            &::before {
                border-bottom-width: 16px;
                border-right-width: 56px;
                top: -16px;
            }
            &::after {
                border-top-width: 18px;
                border-right-width: 56px;
                bottom: -18px;
            }
            &__inner {
                width: 46px;
                height: 46px;
                &::before {
                    width: 46px;
                    height: 46px;
                }
            }
        }
        &__btn {
            transform: translate(-50%, -50%);
        }
    }
}
@media screen and (min-width: 992px) {
    .video {
        &::before {
            height: 235px;
        }
        &__content {
            &::after {
                width: 220px;
                height: 31px;
            }
        }
        &__button {
            width:120px;
            height:120px;

            &::before {
                border-bottom-width: 40px;
                border-right-width:120px;
                top: -40px;
            }
            &::after {
                border-top-width: 42px;
                border-right-width:120px;
                bottom: -42px;
            }

            &__inner {
                width: 56px;
                height: 56px;
                &::before {
                    width: 56px;
                    height: 56px;
                }
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .video {
        &__container {
            margin-bottom: 70px;
        }
    }
}
@media screen and (min-width: 1440px) {}
@media screen and (min-width: 1920px) {
    
}